html, body {
position: relative;

}
body{
 background: url(/resources/img/oboi.jpg) fixed no-repeat;
 -moz-background-size: 100%;
 -webkit-background-size: 100%;
 -o-background-size: 100%;
 background-size: 100%;
 display: block;

 background-size: cover;
}
/*
.footer {
 background: black;
position: relative;
}*/

.social {
 list-style-type: none;
}



