html, body {
position: relative;
 overflow: auto;
}
body{
 background: url(/resources/img/fon.jpg) fixed no-repeat;
 -moz-background-size: 100%;
 -webkit-background-size: 100%;
 -o-background-size: 100%;
 background-size: 100%;
 display: block;
 background-size: cover;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
  overflow: auto;
}


a {
 color: #fff;
  list-style-type: none;
}
a:hover {
 color: #00FFFF;
 text-decoration: none;
  list-style-type: none;
}
button {
 color: #00008B;
 background: #24292e;
 background-color: #eff3f6;
 border: 1px #1E90FF;
 border-style: groove;
}

