 .home-banner {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 width: 100%;
 height: 100%;
 margin-top: 10%;
 display: -webkit-flex;
 display: -ms-flexbox;
margin-top: -20%;

 position: fixed;
 top: 50%;
 left: 0;
 width: 100%;
 height: 500px;
}

.left-banner, .right-banner{

 display: flex;
 width: 50%;
}
.left-banner {
 opacity: 0.8;
 background-color: #fff;
 width: 550px;
 justify-content: left;
 border-radius: 15px;
}
.right-banner {
 justify-content: right;
  -webkit-padding-start: 7%;
}
.left-banner > ul{
position: relative;
 color: black;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 list-style-type: none;
 font-weight: bold;
}

.left-banner > ul > li > {
position: relative;
 color: black;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 font-weight: bold;
}

span, img, li, ul{
position: relative;
}




