.blog {
 position: fixed;
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 100%;
 height: 100%;
 top: auto;
 opacity: 0.9;
}
.blog-window {
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content: center;
 background: #fff;
 height: auto;
 width: 90%;
 padding-top: 1%;
 padding-down: 1%;
}
.blog-list{
 display:flex;
 width: 95%;
 height: 90%;
 position: relative;
 background: #F0FFFF;;
 border-radius: 5px;
}