.board {
 position: fixed;
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 100%;
 height: 100%;
 top: auto;
 opacity: 0.9;
}
.dashboard {
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 background: #fff;
 height: 100%;
 width: 90%;
 padding-top: 1%;
 padding-bottom: 5%;
}
.project{
 display:flex;
 justify-content: center;
 width: 20%;
 height: 20%;
 position: relative;
 background: #F0FFFF;;
 border-radius: 5px;
}
.add-project {
  display:flex;
  height: 10%;
  border-radius: 5px;
}
td, th {
 overflow: auto;
 background: #F0FFFF;;
 color: #00008B;
 background: #24292e;
 background-color: #eff3f6;
 width: 300px;
 padding: 5px;
}
.project-edit-btn, .project-del-btn {
 float: right;
 border-radius: 5px;
 padding: 5px;
}
.project-del-btn {
 margin-left: 5%;
 margin-right: 5%;
}