.login, .registration {
 opacity: 0.8;
 height: 350px;
 width: 500px;
 border-radius: 5px;
 background: #fff;
 margin: 15% auto;
}
.form-signin {
 max-width: 330px;
 padding: 15px;
 margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
 margin-bottom: 10px;
}
.form-signin .checkbox {
 font-weight: normal;
}
.form-signin .form-control {
 position: relative;
 height: auto;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 padding: 10px;
 font-size: 16px;
}
.form-signin .form-control:focus {
 z-index: 2;
}
.form-signin input{
 margin-top: 10px;
 border: 1px 	#1E90FF;
 border-style: groove;
}
.form-signin button {
 color: #00008B;
 margin-top: 10px;
 background: #24292e;
 background-color: #eff3f6;
 border: 1px #1E90FF;
 border-style: groove;
}
.link-reg {
 display: flex;
 justify-content: center;
 margin-top: 15%;
}
h4 > a {
 color: #00008B;
}
h4 > a:hover {
 color: #000000;
}
.form-signin > h2 {
 color: rgba(0,0,0,0.87);
}
.has-error {
 color: #DC143C;
}