body{
  background: antiquewhite;
  font-size: 15px;
}



a.delete{
	color: blue;
}

a.edit{
	text-decoration: none;
}

a.add-contact, a.add-organization{
display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
	outline: 1px solid black;
	padding: 4px;
	text-decoration: none;
}