html {
 font-family:sans-serif;
 -ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%
}
body {
 margin:0
}
article,footer,nav {
 display:block
}
a {
 background-color:transparent
}
a:active,a:hover {
 outline:0
}
img {
 border:0
}
body,html {
 height:100%
}
*,:after,:before {
 box-sizing:border-box
}
body,html {
 font-size:100%
}
body {
 background:#fff;
 color:#222;
 cursor:auto;
 font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 font-style:normal;
 font-weight:400;
 line-height:1.5;
 margin:0;
 padding:0;
 position:relative
}
a:hover {
 cursor:pointer
}
img {
 max-width:100%;
 height:auto
}
img {
 -ms-interpolation-mode:bicubic
}
.left {
 float:left!important
}
.right {
 float:right!important
}
img {
 display:inline-block;
 vertical-align:middle
}
.row {
 margin:0 auto;
 max-width:62.5rem;
 width:100%
}
.row:after,.row:before {
 content:" ";
 display:table
}
.row:after {
 clear:both
}
.row .row {
 margin:0 -.9375rem;
 max-width:none;
 width:auto

}
.row .row:after,.row .row:before {
 content:" ";
 display:table
}
.row .row:after {
 clear:both
}
.columns {
 padding-left:.9375rem;
 padding-right:.9375rem;
 width:100%;
 float:left
}
.columns+.columns:last-child {
 float:right
}
@media only screen {
 .columns {
  position:relative;
  padding-left:.9375rem;
  padding-right:.9375rem;
  float:left
 }
 .small-6 {
  width:100%
  height: 100%
 }
 .small-12 {
  width:100%
 }
}
@media only screen and (min-width:40.0625em) {
 .medium-push-2 {
  position:relative;
  left:16.66667%;
  right:auto
 }
 .columns {
  position:relative;
  padding-left:.9375rem;
  padding-right:.9375rem;
  float:left
 }
 .medium-2 {
  width:16.66667%
 }
 .medium-3 {
  width:25%
 }
 .medium-4 {
  width:33.33333%
 }
 .medium-6 {
  width:50%
 }
 .medium-8 {
  width:66.66667%
 }
 .medium-9 {
  width:75%
 }
 .medium-10 {
  width:83.33333%
 }
 .medium-12 {
  width:100%
 }
 .medium-offset-2 {
  margin-left:16.66667%!important
 }
}
@media only screen and (min-width:64.0625em) {
 .columns {
  position:relative;
  padding-left:.9375rem;
  padding-right:.9375rem;
  float:left
 }
}
.button {
 -webkit-appearance:none;
 -moz-appearance:none;
 border-radius:0;
 border-style:solid;
 border-width:0;
 cursor:pointer;
 font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 font-weight:400;
 line-height:normal;
 margin:0 0 1.25rem;
 position:relative;
 text-align:center;
 text-decoration:none;
 display:inline-block;
 padding:1rem 2rem 1.0625rem 2rem;
 font-size:1rem;
 background-color:#008cba;
 border-color:#007095;
 color:#fff;
 transition:background-color .3s ease-out
}
.button:focus,.button:hover {
 background-color:#007095
}
.button:focus,.button:hover {
 color:#fff
}
.button.radius {
 border-radius:3px
}
@media only screen and (min-width:40.0625em) {
 .button {
  display:inline-block
 }
}
::-webkit-input-placeholder {
 color:#666
}
:-moz-placeholder {
 color:#666
}
::-moz-placeholder {
 color:#666;
}
:-ms-input-placeholder {
 color:#666
}
meta.foundation-mq-topbar {
 font-family:"/only screen and (min-width:40.0625em)/";
 width:40.0625em
}
.contain-to-grid {
 width:100%;
 background:#333
}
.contain-to-grid .top-bar {
 margin-bottom:0
}
.fixed {
 position:fixed;
 top:0;
 width:100%;
 z-index:99;
 left:0
}
.fixed.expanded:not(.top-bar) {
 height:auto;
 max-height:100%;
 overflow-y:auto;
 width:100%
}
.fixed.expanded:not(.top-bar) .title-area {
 position:fixed;
 width:100%;
 z-index:99
}
.fixed.expanded:not(.top-bar) .top-bar-section {
 margin-top:2.8125rem;
 z-index:98
}
.top-bar {
 background:#333;
 height:2.8125rem;
 line-height:2.8125rem;
 margin-bottom:0;
 overflow:hidden;
 position:relative
}
.top-bar ul {
 list-style:none;
 margin-bottom:0
}
.top-bar, .title-area, .name, .collapse-only, span {
margin-top: -6%;
}

.top-bar .row {
 max-width:none
}
.top-bar form,.top-bar input,.top-bar select {
 margin-bottom:0
}
.top-bar input,.top-bar select {
 font-size:.75rem;
 height:1.75rem;
 padding-bottom:.35rem;
 padding-top:.35rem
}
.top-bar .button,.top-bar button {
 font-size:.75rem;
 margin-bottom:0;
 padding-bottom:.4125rem;
 padding-top:.4125rem
}
@media only screen and (max-width:40em) {
 .top-bar .button,.top-bar button {
  position:relative;
  top:-1px
 }
}
.top-bar .title-area {
 margin:0px;
 position:relative
}
.top-bar .name {
 font-size:10px;
 height:2.8125rem;
 margin:0
}
.top-bar .name h1,.top-bar .name h2,.top-bar .name h3,.top-bar .name h4,.top-bar .name p,.top-bar .name span {
 font-size:1.0625rem;
 line-height:2.8125rem;
 margin:0
}
.top-bar .name h1 a,.top-bar .name h2 a,.top-bar .name h3 a,.top-bar .name h4 a,.top-bar .name p a,.top-bar .name span a {
 color:#fff;
 display:block;
 font-weight:400;
 padding:0 .9375rem;
 width:75%
}
.top-bar .toggle-topbar {
 position:absolute;
 right:0;
 top:0
}
.top-bar .toggle-topbar a {
 color:#fff;
 display:block;
 font-size:.8125rem;
 font-weight:700;
 height:2.8125rem;
 line-height:2.8125rem;
 padding:0 .9375rem;
 position:relative;
 text-transform:uppercase
}
.top-bar .toggle-topbar.menu-icon {
 margin-top:-16px;
 top:50%
}
.top-bar .toggle-topbar.menu-icon a {
 color:#fff;
 height:34px;
 line-height:33px;
 padding:0 2.5rem 0 .9375rem;
 position:relative
}
.top-bar .toggle-topbar.menu-icon a span:not(.show-for-sr)::after {
 content:"";
 display:block;
 height:0;
 position:absolute;
 margin-top:-8px;
 top:50%;
 right:.9375rem;
 box-shadow:0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
 width:16px
}
.top-bar .toggle-topbar.menu-icon a span:hover:after {
 box-shadow:0 0 0 1px "",0 7px 0 1px "",0 14px 0 1px ""
}
.top-bar.expanded {
 background:0 0;
 height:auto
}
.top-bar.expanded .title-area {
 background:#333
}
.top-bar.expanded .toggle-topbar a {
 color:#888
}
.top-bar.expanded .toggle-topbar a span::after {
 box-shadow:0 0 0 1px #888,0 7px 0 1px #888,0 14px 0 1px #888
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .top-bar.expanded .top-bar-section .dropdown,.top-bar.expanded .top-bar-section .has-dropdown.moved>.dropdown {
  clip:initial
 }
 .top-bar.expanded .top-bar-section .has-dropdown:not(.moved)>ul {
  padding:0
 }
}
.top-bar-section {
 left:0;
 position:relative;
 width:auto;
 transition:left .3s ease-out
}
.top-bar-section ul {
 display:block;
 font-size:16px;
 height:auto;
 margin:0;
 padding:0;
 width:100%
}
.top-bar-section .divider,.top-bar-section [role=separator] {
 border-top:solid 1px #1a1a1a;
 clear:both;
 height:1px;
 width:100%
}
.top-bar-section ul li {
 background:#333
}
.top-bar-section ul li>a {
 color:#fff;
 display:block;
 font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
 font-size:.8125rem;
 font-weight:400;
 padding-left:.9375rem;
 padding:12px 0 12px .9375rem;
 text-transform:none;
 width:100%
}
.top-bar-section ul li>a.button {
 font-size:.8125rem;
 padding-left:.9375rem;
 padding-right:.9375rem;
 background-color:#008cba;
 border-color:#007095;
 color:#fff
}
.top-bar-section ul li>a.button:focus,.top-bar-section ul li>a.button:hover {
 background-color:#007095
}
.top-bar-section ul li>a.button:focus,.top-bar-section ul li>a.button:hover {
 color:#fff
}
.top-bar-section ul li>a.button.secondary {
 background-color:#e7e7e7;
 border-color:#b9b9b9;
 color:#333
}
.top-bar-section ul li>a.button.secondary:focus,.top-bar-section ul li>a.button.secondary:hover {
 background-color:#b9b9b9
}
.top-bar-section ul li>a.button.secondary:focus,.top-bar-section ul li>a.button.secondary:hover {
 color:#333
}
.top-bar-section ul li>a.button.success {
 background-color:#43ac6a;
 border-color:#368a55;
 color:#fff
}
.top-bar-section ul li>a.button.success:focus,.top-bar-section ul li>a.button.success:hover {
 background-color:#368a55
}
.top-bar-section ul li>a.button.success:focus,.top-bar-section ul li>a.button.success:hover {
 color:#fff
}
.top-bar-section ul li>a.button.alert {
 background-color:#f04124;
 border-color:#cf2a0e;
 color:#fff
}
.top-bar-section ul li>a.button.alert:focus,.top-bar-section ul li>a.button.alert:hover {
 background-color:#cf2a0e
}
.top-bar-section ul li>a.button.alert:focus,.top-bar-section ul li>a.button.alert:hover {
 color:#fff
}
.top-bar-section ul li>a.button.warning {
 background-color:#f08a24;
 border-color:#cf6e0e;
 color:#fff
}
.top-bar-section ul li>a.button.warning:focus,.top-bar-section ul li>a.button.warning:hover {
 background-color:#cf6e0e
}
.top-bar-section ul li>a.button.warning:focus,.top-bar-section ul li>a.button.warning:hover {
 color:#fff
}
.top-bar-section ul li>a.button.info {
 background-color:#a0d3e8;
 border-color:#61b6d9;
 color:#333
}
.top-bar-section ul li>a.button.info:focus,.top-bar-section ul li>a.button.info:hover {
 background-color:#61b6d9
}
.top-bar-section ul li>a.button.info:focus,.top-bar-section ul li>a.button.info:hover {
 color:#fff
}
.top-bar-section ul li>button {
 font-size:.8125rem;
 padding-left:.9375rem;
 padding-right:.9375rem;
 background-color:#008cba;
 border-color:#007095;
 color:#fff
}
.top-bar-section ul li>button:focus,.top-bar-section ul li>button:hover {
 background-color:#007095
}
.top-bar-section ul li>button:focus,.top-bar-section ul li>button:hover {
 color:#fff
}
.top-bar-section ul li>button.secondary {
 background-color:#e7e7e7;
 border-color:#b9b9b9;
 color:#333
}
.top-bar-section ul li>button.secondary:focus,.top-bar-section ul li>button.secondary:hover {
 background-color:#b9b9b9
}
.top-bar-section ul li>button.secondary:focus,.top-bar-section ul li>button.secondary:hover {
 color:#333
}
.top-bar-section ul li>button.success {
 background-color:#43ac6a;
 border-color:#368a55;
 color:#fff
}
.top-bar-section ul li>button.success:focus,.top-bar-section ul li>button.success:hover {
 background-color:#368a55
}
.top-bar-section ul li>button.success:focus,.top-bar-section ul li>button.success:hover {
 color:#fff
}
.top-bar-section ul li>button.alert {
 background-color:#f04124;
 border-color:#cf2a0e;
 color:#fff
}
.top-bar-section ul li>button.alert:focus,.top-bar-section ul li>button.alert:hover {
 background-color:#cf2a0e
}
.top-bar-section ul li>button.alert:focus,.top-bar-section ul li>button.alert:hover {
 color:#fff
}
.top-bar-section ul li>button.warning {
 background-color:#f08a24;
 border-color:#cf6e0e;
 color:#fff
}
.top-bar-section ul li>button.warning:focus,.top-bar-section ul li>button.warning:hover {
 background-color:#cf6e0e
}
.top-bar-section ul li>button.warning:focus,.top-bar-section ul li>button.warning:hover {
 color:#fff
}
.top-bar-section ul li>button.info {
 background-color:#a0d3e8;
 border-color:#61b6d9;
 color:#333
}
.top-bar-section ul li>button.info:focus,.top-bar-section ul li>button.info:hover {
 background-color:#61b6d9
}
.top-bar-section ul li>button.info:focus,.top-bar-section ul li>button.info:hover {
 color:#fff
}
.top-bar-section ul li:hover:not(.has-form)>a {
 background-color:#555;
 color:#fff;
 background:#222
}
.top-bar-section ul li.active>a {
 background:#008cba;
 color:#fff
}
.top-bar-section ul li.active>a:hover {
 background:#0078a0;
 color:#fff
}
.top-bar-section .has-form {
 padding:.9375rem
}
.top-bar-section .has-dropdown {
 position:relative
}
.top-bar-section .has-dropdown>a:after {
 border:inset 5px;
 content:"";
 display:block;
 height:0;
 width:0;
 border-color:transparent transparent transparent rgba(255,255,255,.4);
 border-left-style:solid;
 margin-right:.9375rem;
 margin-top:-4.5px;
 position:absolute;
 top:50%;
 right:0
}
.top-bar-section .has-dropdown.moved {
 position:static
}
.top-bar-section .has-dropdown.moved>.dropdown {
 position:static!important;
 height:auto;
 width:auto;
 overflow:visible;
 clip:auto;
 display:block;
 position:absolute!important;
 width:100%
}
.top-bar-section .has-dropdown.moved>a:after {
 display:none
}
.top-bar-section .dropdown {
 clip:rect(1px,1px,1px,1px);
 height:1px;
 overflow:hidden;
 position:absolute!important;
 width:1px;
 display:block;
 padding:0;
 position:absolute;
 top:0;
 z-index:99;
 left:100%
}
.top-bar-section .dropdown li {
 height:auto;
 width:100%
}
.top-bar-section .dropdown li a {
 font-weight:400;
 padding:8px .9375rem
}
.top-bar-section .dropdown li a.parent-link {
 font-weight:400
}
.top-bar-section .dropdown li.parent-link,.top-bar-section .dropdown li.title h5 {
 margin-bottom:0;
 margin-top:0;
 font-size:1.125rem
}
.top-bar-section .dropdown li.parent-link a,.top-bar-section .dropdown li.title h5 a {
 color:#fff;
 display:block
}
.top-bar-section .dropdown li.parent-link a:hover,.top-bar-section .dropdown li.title h5 a:hover {
 background:0 0
}
.top-bar-section .dropdown li.has-form {
 padding:8px .9375rem
}
.top-bar-section .dropdown li .button,.top-bar-section .dropdown li button {
 top:auto
}
.top-bar-section .dropdown label {
 color:#777;
 font-size:.625rem;
 font-weight:700;
 margin-bottom:0;
 padding:8px .9375rem 2px;
 text-transform:uppercase
}
@media only screen and (min-width:40.0625em) {
 .top-bar {
  background:#333;
  overflow:visible
 }
 .top-bar:after,.top-bar:before {
  content:" ";
  display:table
 }
 .top-bar:after {
  clear:both
 }
 .top-bar .toggle-topbar {
  display:none
 }
 .top-bar .title-area {
  float:left
 }
 .top-bar .name h1 a,.top-bar .name h2 a,.top-bar .name h3 a,.top-bar .name h4 a,.top-bar .name h5 a,.top-bar .name h6 a {
  width:auto
 }
 .top-bar .button,.top-bar button,.top-bar input,.top-bar select {
  font-size:.875rem;
  height:1.75rem;
  position:relative;
  top:.53125rem
 }
 .top-bar .has-form>.button,.top-bar .has-form>button {
  font-size:.875rem;
  height:1.75rem;
  position:relative;
  top:.53125rem
 }
 .top-bar.expanded {
  background:#333
 }
 .contain-to-grid .top-bar {
  margin:0 auto;
  margin-bottom:0;
  max-width:62.5rem
 }
 .top-bar-section {
  transition:none 0 0;
  left:0!important
 }
 .top-bar-section ul {
  display:inline;
  height:auto!important;
  width:auto
 }
 .top-bar-section ul li {
  float:left
 }
 .top-bar-section ul li .js-generated {
  display:none
 }
 .top-bar-section li.hover>a:not(.button) {
  background-color:#555;
  background:#222;
  color:#fff
 }
 .top-bar-section li:not(.has-form) a:not(.button) {
  background:#333;
  line-height:2.8125rem;
  padding:0 .9375rem
 }
 .top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color:#555;
  background:#222
 }
 .top-bar-section li.active:not(.has-form) a:not(.button) {
  background:#008cba;
  color:#fff;
  line-height:2.8125rem;
  padding:0 .9375rem
 }
 .top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background:#0078a0;
  color:#fff
 }
 .top-bar-section .has-dropdown>a {
  padding-right:2.1875rem!important
 }
 .top-bar-section .has-dropdown>a:after {
  border:inset 5px;
  content:"";
  display:block;
  height:0;
  width:0;
  border-color:rgba(255,255,255,.4) transparent transparent transparent;
  border-top-style:solid;
  margin-top:-2.5px;
  top:1.40625rem
 }
 .top-bar-section .has-dropdown.moved {
  position:relative
 }
 .top-bar-section .has-dropdown.moved>.dropdown {
  clip:rect(1px,1px,1px,1px);
  height:1px;
  overflow:hidden;
  position:absolute!important;
  width:1px;
  display:block
 }
 .top-bar-section .has-dropdown.hover>.dropdown,.top-bar-section .has-dropdown.not-click:hover>.dropdown {
  position:static!important;
  height:auto;
  width:auto;
  overflow:visible;
  clip:auto;
  display:block;
  position:absolute!important
 }
 .top-bar-section .has-dropdown>a:focus+.dropdown {
  position:static!important;
  height:auto;
  width:auto;
  overflow:visible;
  clip:auto;
  display:block;
  position:absolute!important
 }
 .top-bar-section .has-dropdown .dropdown li.has-dropdown>a:after {
  border:none;
  content:"\00bb";
  top:.1875rem;
  right:5px
 }
 .top-bar-section .dropdown {
  left:0;
  background:0 0;
  min-width:100%;
  top:auto
 }
 .top-bar-section .dropdown li a {
  background:#333;
  color:#fff;
  line-height:2.8125rem;
  padding:12px .9375rem;
  white-space:nowrap
 }
 .top-bar-section .dropdown li:not(.has-form):not(.active)>a:not(.button) {
  background:#333;
  color:#fff
 }
 .top-bar-section .dropdown li:not(.has-form):not(.active):hover>a:not(.button) {
  background-color:#555;
  color:#fff;
  background:#222
 }
 .top-bar-section .dropdown li label {
  background:#333;
  white-space:nowrap
 }
 .top-bar-section .dropdown li .dropdown {
  left:100%;
  top:0
 }
 .top-bar-section>ul>.divider,.top-bar-section>ul>[role=separator] {
  border-right:solid 1px #4e4e4e;
  border-bottom:none;
  border-top:none;
  clear:none;
  height:2.8125rem;
  width:0
 }
 .top-bar-section .has-form {
  background:#333;
  height:2.8125rem;
  padding:0 .9375rem
 }
 .top-bar-section .right li .dropdown {
  left:auto;
  right:0
 }
 .top-bar-section .right li .dropdown li .dropdown {
  right:100%
 }
 .top-bar-section .left li .dropdown {
  right:auto;
  left:0
 }
 .top-bar-section .left li .dropdown li .dropdown {
  left:100%
 }
a {
 color:#008cba;
 line-height:inherit;
 text-decoration:none
}
a:focus,a:hover {
 color:#0078a0
}
a img {
 border:none
}
ol,ul {
 font-family:inherit;
 font-size:1rem;
 line-height:1.6;
 list-style-position:outside;
 margin-bottom:1.25rem
}
ul {
 margin-left:1.1rem
}
ul li ul {
 margin-left:1.25rem;
 margin-bottom:0
}
body {
 font-family:"Segoe UI","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
 padding-top:45px
}
.margin-right {
 margin:0 3rem 1rem 0
}
.margin-left {
 margin-left:2rem
}
@media (max-width:40em) {
 .footer ul li {
  padding-top:4px;
  padding-bottom:4px
 }
}
.top-bar .toggle-topbar.menu-icon a span:not(.show-for-sr)::after {
 content:"";
 display:block;
 height:0;
 position:absolute;
 margin-top:-8px;
 top:50%;
 right:.9375rem;
 box-shadow:0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
 width:16px
}
a.big-button {
 display:inline-block;
 color:#033;
 padding-left:20px;
 padding-right:20px;
 line-height:42px;
 text-decoration:none;
 text-transform:uppercase;
 font-family:"Segoe UI","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
 font-weight:600;
 font-size:.85rem;
 background-color:#5fc953;
 margin:0 5px 1rem 0;
 border-radius:4px;
 transition:background-color .3s
}
a.big-button:active,a.big-button:hover {
 background-color:#68e85a;
 color:#033
}
.action-buttons,.bottom-action-buttons {
 margin:1rem 0 1rem 0;
 text-align:center
}
.button {
 cursor:pointer;
 font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
 background-color:#00b3e0;
 border:1px dotted #00b3e0;
 transition:background-color .3s ease-out,border-color .3s ease-out
}
.button:focus,.button:hover {
 background-color:#3acdf2
}
.button:hover {
 border-color:#3acdf2
}
.button:focus {
 border-color:#00b3e0
}
.button.medium {
 padding:.6rem 1.7rem .7rem 1.7rem;
 font-size:.8125rem
}
.contain-to-grid,.top-bar,.top-bar-section .dropdown li label,.top-bar-section li a:not(.button),.top-bar-section ul {
 background-color:#322525
}
.no-js .top-bar-section ul li:active>a,.no-js .top-bar-section ul li:hover>a,.top-bar-section li a:not(.button):hover,.top-bar-section li.hover>a:not(.button),.top-bar-section ul li:hover>a {
 background-color:#3a2f2f
}
.top-bar-section .dropdown li label {
 color:#5f5555
}
.top-bar-section .divider,.top-bar-section [role=separator] {
 border-top:solid 1px #423535
}
.top-bar.expanded .title-area {
 background-color:#3a2f2f
}
.top-bar-section li:not(.has-form) a:not(.button) {
 background-color:#322525
}
.top-bar-section li:not(.has-form) a:hover:not(.button) {
 background-color:#3a2f2f
}
@media only screen and (min-width:40.063em) {
 .top-bar-section .left {
  margin-left:18%
 }
}
.top-bar-section ul li>a {
 font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size:.7rem;
 text-transform:uppercase;
 color:#e2dddd
}
.top-bar-section .dropdown li a {
 font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
 color:#e2dddd;
 font-size:.8rem;
 text-transform:none;
 padding-right:70px
}
.top-bar .name a {
 display:inline-block;
 padding:8px 15px 0 15px
}
.highlight {
 margin:0
}
a {
 color:#00aad7;
 text-decoration:none;
 line-height:inherit
}
a:focus,a:hover {
 color:#00c7f4
}
@media (max-width:640px) {
 .anchorjs-link {
  display:none
 }
}
.home-banner {
 text-align:center;
 background-color:#FFFACD;
 weight: 100%;
 height: 100%;
}
.home-banner h1 {
 font:300 2.7rem/1.4 "Segoe UI","Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif;
 color:#fff;
 margin:1.5rem 0 0
}
.home-banner h2 {
 font:normal 1.1rem/1.4 "Open Sans","Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
 color:#fff;
 font-size:1.1rem;
 text-transform:uppercase
}
.home-banner .or-divider {
 background:url(/assets/img/home/or-divider.941e9149.png) no-repeat right center;
 background-size:16px 180px
}
.home-banner .buttons {
 margin:1.5rem 0 1.2rem 0
}
.home-banner .buttons .big-button {
 margin-bottom:.4rem;
 background-color:#00FFFF;
 font-weight:600
}
.home-banner .buttons .big-button:active,.home-banner .buttons .big-button:hover {
 background-color:#00FFFF
}
.home-banner .info .highlights {
 text-align:left;
 margin-left: 200px;
 margin-top: 120px;
 font-size: 13pt;
}
.home-banner .info .highlights img {
    padding: 10px;
 margin-left: -8%;
 margin-top: auto;
}
.home-banner img {
 margin-top: -32%;
 margin-bottom:1px;
 margin-left: 40%;
}
.home-banner h2 {
 font-size:1.1rem
}
.home-banner .or-divider {
 background:0 0
}
.home-banner .highlights {
 margin:0 0 0 2rem
}

