.footer {
 background: #212121;
 position: fixed;
 top: 97%;
 left: 0;
 width: 100%;
 height: auto;
 display:flex;
 flex-direction: row;
 justify-content: center;
 z-index: 1;
}
.social {
 display:flex;
 flex-direction: row;
 justify-content: center;
 list-style-type: none;
 }
.social > li a > img {
 flex-direction: row;
 justify-content: center;
 height: 32px;
 width: 32px;
}
.social {
 flex-direction: row;
 justify-content: center;
 color: #FFF8DC;
}
