<div class="contain-to-grid fixed">
	<nav class="top-bar" data-topbar="">
		<div class="top-bar-section">
		<ul class="left">
		<li>
           	<a href="/" class="collapse-only">
           		<img src="${contextPath}/resources/img/bomb.png">
           		<span>Task-delivery</span>
           	</a>
           </li></ul>
			<ul class="center">
				<li><a href="/docs">Docs</a></li>
				<li><a href="/support">Support</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
			</ul>
			<ul class="right">
              <li><a href="#modal"  id="btnReg">Sign up</a></li>
            </ul>
		</div>
	</nav>
</div>
<div class="reg">
<div class="login">
    <form method="POST" action="${contextPath}/" class="form-signin">
        <h2 class="form-heading">Log in</h2>
        <div class="form-group ${error != null ? 'has-error' : ''}">
            <span>${message}</span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span>${error}</span>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
            <h4 class="text-center"><a href="${contextPath}/registration">Create an account</a></h4>
        </div>
    </form>
</div>
</div>